<div class='header' style="background:url(../images/logo/1_主页_头部背景.png);" >
  <div class="container" >
    <div class='row'>
      <div class="col-12">
         <div class='row'>
          <div class="col-4">
            <div class="nav flex-column justify-content-center bg-light" >
              <div class="logo">
               <a href="{{ site.baseurl }}"><img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
              </div>
              <div class="logo-mobile">
               <a href="{{ site.baseurl }}"><img alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
              </div>
            </div>
          </div>
           <div class="col-1">
             <div class="nav flex-column justify-content-center bg-light" >
               <img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.headw | relative_url }}" />
             </div>             
          </div>
          <div class="col-7">
           <div class="row">
             <img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.chinese | relative_url }}" />
           </div>
           <div class="row">
             <img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.english | relative_url }}" />
           </div> 
         </div>
        </div> 
      
         <div class='row'>
           <div style="border:10px solid #ffffff" bgcolor="#FFFFFF"></div> 
          <div class="col-12">
            
           {% include main-menu.html %}
           {% include hamburger.html %}
          </div>
         </div> 
     
    </div>
   </div>
    
 </div>
</div>
